.footer_page {
    color: white;
    height: 150px;
    background-color: #6278F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    background-image: url('/public/images/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_page .tw {
    padding-inline: 30px;
}

.footer_page .logo {
    width: 8%;
}