.filder-text {
    margin: 24px 0;
}

.filder-text label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.filder-text input {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: #6278F7;
    box-shadow: 0 0 3px #6278F7;
    -moz-box-shadow: 0 0 3px #6278F7;
    -webkit-box-shadow: 0 0 3px #6278F7;
}